* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
height:100%;
width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom,rgb(46, 46, 46),rgb(23, 23, 23),black);
    padding: 20px;
}

section{
    width: 330px;
    height: 100%;
    background-color:transparent;
    margin: auto;
    border-radius: 10px;
}
.allRells{
    width: 100%;
    height: 100%;
    overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.allRells::-webkit-scrollbar{
    display: none;
}
.reel{
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reel video{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.reel .bottom{
    width: 100%;
    padding: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.831));
    position: absolute;
    bottom: 0;
}
.user{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.user #profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user h4{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.user button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.user button:hover{
    background-color: #ffffff0c;
}
.user button:active{
    scale: 0.9;
}
#tags{
    font-size: 11px;
    font-weight: 400;
}
.right{
    width: 40px;
    padding:30px;
    position: absolute;
    bottom: 5%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.right i{
    font-size: 23px;
    font-weight: 500;
}
.right h6{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    cursor: pointer;
}
.right>div h6{
    pointer-events: none;
}
.right>div h4{
    pointer-events: none;
}
.love{
    color: rgb(219, 34, 65);
}
.mute{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353434b8;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.mute:active{
    scale: 0.9;
}
